.main-container {
  max-width: 1350px;
  margin: auto;
  margin-top: 70px;
  padding: 0 40px;
  display: flex;
}
.left-conatiner {
  width: 50%;
}
.left-conatiner img {
  width: 82%;
}

.right-container {
  width: 50%;
}
h1.product-name {
  margin-top: 30px;
  font-size: 2.2rem;
  font-weight: 600;
}
.product-price {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 23px;
}

.input-product-qty {
  display: flex;
  margin-top: 20px;
}

.input-product-qty input {
  outline: none;
  width: 70px;
  -moz-appearance: textfield;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background: rgba(172, 255, 47, 0.288);
  border-radius: 0;
}
.input-product-qty button {
  background: #006c00;
  border: none;
  outline: none;
  color: #fff !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-product-qty .material-symbols-outlined {
  color: #000;
  cursor: pointer;
}

.addToCart-btn {
  padding: 10px 35px;
  border-radius: 23px;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}
.description-conatiner {
  margin-top: 40px;
}

.description-title {
  font-size: 1.8rem;
}

p.description {
  height: 308px;
  overflow-y: auto;
  font-size: 1rem;
  text-align: justify;
  word-spacing: 4px;
  line-height: 1.8;
  padding-right: 10px;
  margin-top: 13px;
}

@media only screen and (max-width: 400px) {
  .main-container {
    margin-top: 46px;
    padding: 0 24px;
    flex-direction: column;
  }
  .left-conatiner {
    width: 100%;
  }
  .left-conatiner img {
    width: 100%;
  }
  .right-container {
    width: 100%;
  }

  .product-name {
    margin-top: 16px;
  }
  .product-price {
    margin-top: 10px;
  }
  .input-product-qty {
    margin-top: 10px;
  }
  .addToCart-btn {
    padding: 8px 35px;
    margin-top: 20px;
    width: 100%;
  }
  .description-conatiner {
    margin-top: 30px;
  }
  .description-title {
    font-size: 1.8rem;
    text-align: center;
    text-decoration: underline green;
  }
  p.description {
    height: auto;
  }
}
