.recipe-item {
  width: 326px;
  box-sizing: border-box;
  padding: 20px;
  margin: 15px 0;
  box-shadow: 3px 3px 10px #00000033;
  text-align: center;
  cursor: pointer;
}

.recipe-item img {
  width: 100%;
}
.recipe-item h2 {
  color: #000;
}

.recipe-price-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 11px;
}

.addToCart-btn {
  border: none;
  background: #0fee0f;
  padding: 5px 10px;
  border-radius: 13px;
  /* margin-top: 7px; */
  cursor: pointer;
  user-select: none;
}

.addToCart-btn:focus {
  transform: scale(1.05);
}
